@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'PPObjectSans';
  src: url('../src/assets/PPObjectSans-Regular.woff') format('woff');
}


:root {
  --font-family: 'PPObjectSans', sans-serif;

  --gradient-text: #0E2332;
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #fff;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}